<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE kpartgui>
<gui version="4" library="libkatesearchplugin" translationDomain="katesearch" name="katesearch">
 <MenuBar>
  <Menu name="edit">
   <text>&amp;Edit</text>
   <Action name="search_in_files"/>
   <Menu name="search_more">
    <text>Search More</text>
    <Action name="go_to_next_match"/>
    <Action name="go_to_prev_match"/>
    <Action name="search_in_files_new_tab"/>
   </Menu>
  </Menu>
 </MenuBar>
 <ActionProperties scheme="Default">
  <Action shortcut="" name="go_to_next_match"/>
  <Action shortcut="" name="go_to_prev_match"/>
  <Action shortcut="Meta+Alt+F" name="search_in_files"/>
  <Action shortcut="" name="search_in_files_new_tab"/>
 </ActionProperties>
</gui>
<!-- kate: space-indent on; indent-width 4; replace-tabs on; -->
